# Data Preprocessing

### **Data**
* I have three datasets for this Fraud detection project. I have use them by integreating and extracting best feature from the given datasets to create accurate and strong fraud detection models thast handle the unique challenges of both types of transaction.

#### **1. Fraud_Data**
Includes e-commerce transaction data aimed at identifying fraudulent activities.
* user_id: A unique identifier for the user who made the transaction.
* signup_time: The timestamp when the user signed up.
* purchase_time: The timestamp when the purchase was made.
* purchase_value: The value of the purchase in dollars.
* device_id: A unique identifier for the device used to make the transaction.
* source: The source through which the user came to the site (e.g., SEO, Ads).
* browser: The browser used to make the transaction (e.g., Chrome, Safari).
* sex: The gender of the user (M for male, F for female).
* age: The age of the user.
* ip_address: The IP address from which the transaction was made.
* class: The target variable where 1 indicates a fraudulent transaction and 0 indicates a non-fraudulent transaction.

#### **2. IpAddress_to_Country**
Maps IP addresses to countries
* lower_bound_ip_address: The lower bound of the IP address range.
* upper_bound_ip_address: The upper bound of the IP address range.
* country: The country corresponding to the IP address range.

#### **3. creditcard**
Contains bank transaction data specifically curated for fraud detection analysis. 
* Time: The number of seconds elapsed between this transaction and the first transaction in the dataset.
* V1 to V28: These are anonymized features resulting from a PCA transformation. Their exact nature is not disclosed for privacy reasons, but they represent the underlying patterns in the data.
* Amount: The transaction amount in dollars.
* Class: The target variable where 1 indicates a fraudulent transaction and 0 indicates a non-fraudulent transaction.

In [1]:
# import necessary libraries
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns
import sys, os 
import warnings
warnings.filterwarnings('ignore')

# get working directory
sys.path.append(os.path.abspath('..'))

### Load data

In [3]:
# load data
def load_data(filepath1, filepath2, filepath3):
    fraud_data = pd.read_csv(filepath1)
    ip_address = pd.read_csv(filepath2)
    credit_card = pd.read_csv(filepath3)

    return fraud_data, ip_address, credit_card

fraud_data_path = '../data/Fraud_Data.csv'
ip_address_path = '../data/IpAddress_to_Country.csv'
credit_card_path = '../data/creditcard.csv'

fraud_data_df, ip_address_df, credit_card_df = load_data(fraud_data_path, ip_address_path, credit_card_path)

### Datasets Preview

In [33]:
def data_summary(df):
    """
    Provides a detailed summary of the dataset including shape, 
    statistical description for numerical and categorical columns, 
    and column information.
    """
    print(f"Shape of the dataset: {df.shape}\n")

    print("Numerical Column Description:\n")
    print(df.describe())

    # Unique values per column
    unique_counts = df.nunique()
    print("\n\nUnique Values per Column:\n")
    print(unique_counts)

    print("\n\nDataset Information:\n")
    print(df.info())

In [23]:
# datasets preveiw: First five rows of the dataset
fraud_data_df.head()

,user_id,signup_time,purchase_time,purchase_value,device_id,source,browser,sex,age,ip_address,class
0,22058,2015-02-24 22:55:49,2015-04-18 02:47:11,34,QVPSPJUOCKZAR,SEO,Chrome,M,39,7.327584e+08,0
1,333320,2015-06-07 20:39:50,2015-06-08 01:38:54,16,EOGFQPIZPYXFZ,Ads,Chrome,F,53,3.503114e+08,0
2,1359,2015-01-01 18:52:44,2015-01-01 18:52:45,15,YSSKYOSJHPPLJ,SEO,Opera,M,53,2.621474e+09,1
3,150084,2015-04-28 21:13:25,2015-05-04 13:54:50,44,ATGTXKYKUDUQN,SEO,Safari,M,41,3.840542e+09,0
4,221365,2015-07-21 07:09:52,2015-09-09 18:40:53,39,NAUITBZFJKHWW,Ads,Safari,M,45,4.155831e+08,0

In [34]:
print("Fraud dataset Overview")
data_summary(fraud_data_df)

Fraud dataset Overview
Shape of the dataset: (151112, 11)

Numerical Column Description:

             user_id  purchase_value            age    ip_address  \
count  151112.000000   151112.000000  151112.000000  1.511120e+05
mean   200171.040970       36.935372      33.140704  2.152145e+09
std    115369.285024       18.322762       8.617733  1.248497e+09
min         2.000000        9.000000      18.000000  5.209350e+04
25%    100642.500000       22.000000      27.000000  1.085934e+09
50%    199958.000000       35.000000      33.000000  2.154770e+09
75%    300054.000000       49.000000      39.000000  3.243258e+09
max    400000.000000      154.000000      76.000000  4.294850e+09

               class
count  151112.000000
mean        0.093646
std         0.291336
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max         1.000000


Unique Values per Column:

user_id           151112
signup_time       151112
purchase_time     150679
purchase_value       122
device_id         137956
source                 3
browser                5
sex                    2
age                   58
ip_address        143512
class                  2
dtype: int64


Dataset Information:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151112 entries, 0 to 151111
Data columns (total 11 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   user_id         151112 non-null  int64
 1   signup_time     151112 non-null  object
 2   purchase_time   151112 non-null  object
 3   purchase_value  151112 non-null  int64
 4   device_id       151112 non-null  object
 5   source          151112 non-null  object
 6   browser         151112 non-null  object
 7   sex             151112 non-null  object
 8   age             151112 non-null  int64
 9   ip_address      151112 non-null  float64
 10  class           151112 non-null  int64
dtypes: float64(1), int64(4), object(6)
memory usage: 12.7+ MB
None

In [7]:
ip_address_df.head()

   lower_bound_ip_address  upper_bound_ip_address    country
0              16777216.0                16777471  Australia
1              16777472.0                16777727      China
2              16777728.0                16778239      China
3              16778240.0                16779263  Australia
4              16779264.0                16781311      China

In [8]:
credit_card_df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [35]:
print('Credit card dataset overview')
data_summary(credit_card_df)

Credit card dataset overview
Shape of the dataset: (284807, 31)

Numerical Column Description:

                Time            V1            V2            V3            V4  \
count  284807.000000  2.848070e+05  2.848070e+05  2.848070e+05  2.848070e+05
mean    94813.859575  1.168375e-15  3.416908e-16 -1.379537e-15  2.074095e-15
std     47488.145955  1.958696e+00  1.651309e+00  1.516255e+00  1.415869e+00
min         0.000000 -5.640751e+01 -7.271573e+01 -4.832559e+01 -5.683171e+00
25%     54201.500000 -9.203734e-01 -5.985499e-01 -8.903648e-01 -8.486401e-01
50%     84692.000000  1.810880e-02  6.548556e-02  1.798463e-01 -1.984653e-02
75%    139320.500000  1.315642e+00  8.037239e-01  1.027196e+00  7.433413e-01
max    172792.000000  2.454930e+00  2.205773e+01  9.382558e+00  1.687534e+01

                 V5            V6            V7            V8            V9  \
count  2.848070e+05  2.848070e+05  2.848070e+05  2.848070e+05  2.848070e+05
mean   9.604066e-16  1.487313e-15 -5.556467e-16  1.213481e-16 -2.406331e-15
std    1.380247e+00  1.332271e+00  1.237094e+00  1.194353e+00  1.098632e+00
min   -1.137433e+02 -2.616051e+01 -4.355724e+01 -7.321672e+01 -1.343407e+01
25%   -6.915971e-01 -7.682956e-01 -5.540759e-01 -2.086297e-01 -6.430976e-01
50%   -5.433583e-02 -2.741871e-01  4.010308e-02  2.235804e-02 -5.142873e-02
75%    6.119264e-01  3.985649e-01  5.704361e-01  3.273459e-01  5.971390e-01
max    3.480167e+01  7.330163e+01  1.205895e+02  2.000721e+01  1.559499e+01

       ...           V21           V22           V23           V24  \
count  ...  2.848070e+05  2.848070e+05  2.848070e+05  2.848070e+05
mean   ...  1.654067e-16 -3.568593e-16  2.578648e-16  4.473266e-15
std    ...  7.345240e-01  7.257016e-01  6.244603e-01  6.056471e-01
min    ... -3.483038e+01 -1.093314e+01 -4.480774e+01 -2.836627e+00
25%    ... -2.283949e-01 -5.423504e-01 -1.618463e-01 -3.545861e-01
50%    ... -2.945017e-02  6.781943e-03 -1.119293e-02  4.097606e-02
75%    ...  1.863772e-01  5.285536e-01  1.476421e-01  4.395266e-01
max    ...  2.720284e+01  1.050309e+01  2.252841e+01  4.584549e+00

                V25           V26           V27           V28         Amount  \
count  2.848070e+05  2.848070e+05  2.848070e+05  2.848070e+05  284807.000000
mean   5.340915e-16  1.683437e-15 -3.660091e-16 -1.227390e-16      88.349619
std    5.212781e-01  4.822270e-01  4.036325e-01  3.300833e-01     250.120109
min   -1.029540e+01 -2.604551e+00 -2.256568e+01 -1.543008e+01       0.000000
25%   -3.171451e-01 -3.269839e-01 -7.083953e-02 -5.295979e-02       5.600000
50%    1.659350e-02 -5.213911e-02  1.342146e-03  1.124383e-02      22.000000
75%    3.507156e-01  2.409522e-01  9.104512e-02  7.827995e-02      77.165000
max    7.519589e+00  3.517346e+00  3.161220e+01  3.384781e+01   25691.160000

               Class
count  284807.000000
mean        0.001727
std         0.041527
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max         1.000000

[8 rows x 31 columns]


Unique Values per Column:

Time      124592
V1        275663
V2        275663
V3        275663
V4        275663
V5        275663
V6        275663
V7        275663
V8        275663
V9        275663
V10       275663
V11       275663
V12       275663
V13       275663
V14       275663
V15       275663
V16       275663
V17       275663
V18       275663
V19       275663
V20       275663
V21       275663
V22       275663
V23       275663
V24       275663
V25       275663
V26       275663
V27       275663
V28       275663
Amount     32767
Class          2
dtype: int64


Dataset Information:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB
None

## **Fraud Data Preprocessing**

In [59]:
# make a coppy of the fraud dataset
fraud_df = fraud_data_df.copy()

# convert signup time and purchase time to pandas date time format
fraud_df['signup_time'] = pd.to_datetime(fraud_df['signup_time'])
fraud_df['purchase_time'] = pd.to_datetime(fraud_df['purchase_time'])

# create time difference feature between signup and first purchase time
fraud_df['time_to_first_purchase'] = (fraud_df['signup_time'] - fraud_df['purchase_time']).dt.total_seconds()

In [57]:
fraud_df.head()

,user_id,signup_time,purchase_time,purchase_value,device_id,source,browser,sex,age,ip_address,class,time_to_first_purchase
0,22058,2015-02-24 22:55:49,2015-04-18 02:47:11,34,QVPSPJUOCKZAR,SEO,Chrome,M,39,7.327584e+08,0,-4506682.0
1,333320,2015-06-07 20:39:50,2015-06-08 01:38:54,16,EOGFQPIZPYXFZ,Ads,Chrome,F,53,3.503114e+08,0,-17944.0
2,1359,2015-01-01 18:52:44,2015-01-01 18:52:45,15,YSSKYOSJHPPLJ,SEO,Opera,M,53,2.621474e+09,1,-1.0
3,150084,2015-04-28 21:13:25,2015-05-04 13:54:50,44,ATGTXKYKUDUQN,SEO,Safari,M,41,3.840542e+09,0,-492085.0
4,221365,2015-07-21 07:09:52,2015-09-09 18:40:53,39,NAUITBZFJKHWW,Ads,Safari,M,45,4.155831e+08,0,-4361461.0

### Data Cleaning

#### Handle Missing Value

In [63]:
# check for missing value
fraud_df.isnull().sum()

user_id                   0
signup_time               0
purchase_time             0
purchase_value            0
device_id                 0
source                    0
browser                   0
sex                       0
age                       0
ip_address                0
class                     0
time_to_first_purchase    0
dtype: int64

**Insight:** There is no missing value in Fraud data

#### Handle Dublication

In [66]:
fraud_df.duplicated().sum()

np.int64(0)

In [67]:
fraud_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151112 entries, 0 to 151111
Data columns (total 12 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   user_id                 151112 non-null  int64
 1   signup_time             151112 non-null  datetime64[ns]
 2   purchase_time           151112 non-null  datetime64[ns]
 3   purchase_value          151112 non-null  int64
 4   device_id               151112 non-null  object
 5   source                  151112 non-null  object
 6   browser                 151112 non-null  object
 7   sex                     151112 non-null  object
 8   age                     151112 non-null  int64
 9   ip_address              151112 non-null  float64
 10  class                   151112 non-null  int64
 11  time_to_first_purchase  151112 non-null  float64
dtypes: datetime64[ns](2), float64(2), int64(4), object(4)
memory usage: 13.8+ MB